<div id="welcome-wrapper">
  <h1>Welcome</h1>
  <%= form_with(model: @user) do |frm| %>
    <div>
      <%= frm.label :username, style: "display: block" %>
      <%= frm.text_field :username %>
    </div>

    <div>
      <%= frm.label :password, style: "display: block" %>
      <%= frm.text_field :password %>
    </div>

    <div>
      <%= frm.submit %>
    </div>
  <% end %>

</div>
<a id="credit" href='https://www.freepik.com/vectors/plain-backgrounds'>Plain backgrounds vector created by rawpixel.com - www.freepik.com</a>
